#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}

/* 
* Imagen de portada cuando el usuario 
* envío en formulario correctamente
*/

.imgSuccessfully {
  width: 30%;
  border: 4px solid #000; /* Borde grueso */
  box-shadow: 8px 8px 0px #000; /* Sombra pronunciada */
  transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

label {
  font-weight: bold;
  font-size: 18px;
}

/* Estilos generales para el componente del formulario */
.titleForm {
  text-transform: uppercase;
  text-align: center;
  color: #db2777;
  margin-bottom: 20px;
}
.containerForm {
  padding: 20px;
  width: 468px;
  background: #ffffff;
  border: 6px solid #000;
  box-shadow: 8px 8px 0px #000; /* Sombra pronunciada */
  transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

/* Estilos para los campos de Input ( texto ) del formulario */

.divInput {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 13px auto;
  gap: 12px;
}

.divInput input {
  background: #ecfeff;
  height: 20px;
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: 3px solid #000;
}

.divInput input:focus {
  outline: 5px solid #a5f3fc;
}

.titleInput {
  font-weight: bold;
}
.contentInput {
  display: flex;
  align-items: center;
  width: 80%;
}

/* 
* Estilos generales para el componente de ( Attributes )
* - Elegir el genero
* - Elegir temas de interes
*/

.containerAttributes {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  margin: 30px auto;
}

.containerAttributes .firstName input {
  text-transform: capitalize;
}

.radioInputs {
  display: flex;
  gap: 25px;
}

.radioInputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.radioInputs p {
  margin: 0;
}

.radioInputs label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioInputs input[type="radio"] {
  display: none;
}

.radioInputs .custom-radio {
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  transition: border-color 0.3s;
}

.radioInputs input[type="radio"]:checked + .custom-radio {
  border: 3px solid #000;
}

.radioInputs input[type="radio"]:checked + .custom-radio::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #be185d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radioInputs input[type="radio"]:not(:checked) + .custom-radio {
  border: 3px solid #000;
}

.containerCheckBoxInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.containerCheckBoxInputs label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.checkboxes p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  font-size: 16px;
}

.checkboxes input[type="checkbox"] {
  appearance: none;
  width: 30px;
  height: 20px;
  border: 3px solid #000;
  cursor: pointer;
  position: relative;
}

.checkboxes input[type="checkbox"]:checked {
  background-color: #18181b;
  border-color: #18181b;
}

.checkboxes input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #fff;
}

/* 
* Estilos para el componente de ( About ) del formulario
*/

.containerAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  max-width: 600px;
}

textarea {
  background: #ecfeff;
  max-width: 400px;
  width: 400px;
  height: 400px;
  resize: none;
  font-size: 18px;
  outline: none;
  border: 3px solid #000;
}

textarea:focus {
  outline: 5px solid #a5f3fc;
}

.containerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

/* 
* Estilos generales para el componente del boton de enviar y resetar 
* los valores del formulario
*/
.neobrutal-button {
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  box-shadow: 4px 4px 0px #000000;
  transition: all 0.1s ease;
  cursor: pointer;
  outline: none;
}

.neobrutal-button:hover {
  box-shadow: 2px 2px 0px #000000;
  transform: translate(2px, 2px);
}

.neobrutal-button[type="submit"] {
  background-color: #4caf50; /* Verde */
  color: white;
}

/* Estilo específico para el botón de tipo button */
.neobrutal-button[type="button"] {
  background-color: #f44336; /* Rojo */
  color: white;
}

/* 
* Estilos generales para el componente de la pagina del envío correcto del 
* formulario ( page successfully )
*/
.containerSuccessfully {
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 90vh; /* Ocupa toda la altura de la pantalla */
  gap: 20px;
}
.containerSuccessfully span {
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}
